<div class="btn-group player-selected">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
    {{name}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#" class="remove-player"><%= I18n.t "helpers.typeahead.remove" %></a></li>
  </ul>
</div>
