<%= content_tag :div, input_html_options do %>
  <div class="has-feedback">
    <input type="text" class="form-control player-search" placeholder="<%= t "helpers.placeholders.players" %>">
    <span class="glyphicon glyphicon-search form-control-feedback"></span>
  </div>
<%end%>
