LaFamiglia.config.max_x = 10
LaFamiglia.config.max_y = 10

LaFamiglia.config.game_speed = 1.0
LaFamiglia.config.unit_speed = 10

LaFamiglia.buildings.add do |b|
  b.id = 1
  b.build_time = ->(level) { level * 1 + 4 }
  b.costs = ->(level) do
    {
      resource_1: level * 1 + 1,
      resource_2: level * 1 + 1,
      resource_3: level * 1 + 1
    }
  end
  b.maxlevel = 8
  b.defense = 10
  b.points = ->(level) { level ** 1.5 }
end

LaFamiglia.buildings.add do |b|
  b.id = 2
  b.build_time = ->(level) { level * 1 + 4 }
  b.costs = ->(level) do
    {
      resource_1: level * 1 + 1,
      resource_2: level * 1 + 1,
      resource_3: level * 1 + 1
    }
  end
  b.maxlevel = 8
  b.defense = 0
  b.points = ->(level) { level ** 1.5 }
end

LaFamiglia.researches.add do |r|
  r.id = 1
  r.research_time = ->(level) { level * 1 + 4 }
  r.costs = ->(level) do
    {
      resource_1: level * 1 + 1,
      resource_2: level * 1 + 1,
      resource_3: level * 1 + 1
    }
  end
  r.maxlevel = 8
end

LaFamiglia.units.add do |u|
  u.id = 1
  u.build_time = 10

  u.costs = { resource_1: 1,
              resource_2: 0,
              resource_3: 1 }
  u.supply = 2
  u.building_id = 1
  u.speed = 2
  u.attack = 2
  u.defense = 2
  u.load = 10
end
