<div class="villa-info">
  {{name}}
</div>

<a href="{{href}}" class="btn btn-primary"><%= I18n.t('map.sidebar.switch') %></a>
<a href="{{map-href}}" class="btn btn-primary"><%= I18n.t('map.sidebar.center_on_map') %></a>
