<div class="villa-info">
  {{name}}
</div>

<button id="attack" type="button" class="btn btn-primary"
        data-toggle="modal" data-target="#attackModal">
  <%= I18n.t 'map.sidebar.attack' %>
</button>

<a href="{{map-href}}" class="btn btn-primary"><%= I18n.t('map.sidebar.center_on_map') %></a>
