$font-family-sans-serif: Lato, 'DejaVu Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headings-font-weight: normal;

$dropdown-link-hover-bg: darken(#f5f5f5, 7.5%);

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";

@import "../../../node_modules/typeahead.js-bootstrap-css/typeaheadjs.css";

@import "variables";

@import "devise";
@import "selectors";

@import "map";
@import "messages";
@import "movements";
@import "reports";
@import "villa";

body {
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #eee;
}

div.error_notification,
ul.errors_on_base {
  @extend .alert;
  @extend .alert-danger;
}

ul.errors_on_base {
  padding-left: 30px;
}
