$icon-font-path: 'bootstrap-sass-official/assets/fonts/bootstrap/';
$font-family-sans-serif: Lato, 'DejaVu Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headings-font-weight: normal;

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/theme";

@import "devise";

@import "map";
@import "movements";
@import "reports";
@import "villa";

body {
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #eee;
}

div.error_notification,
ul.errors_on_base {
  @extend .alert;
  @extend .alert-danger;
}

ul.errors_on_base {
  padding-left: 30px;
}
