// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.messages {
  th.time { width: 40%; }
  th.sender { width: 20%; }
  th.receivers { width: 30%; }
  th.status { width: 10%; }
}
