div.player-select {
  span.form-control-feedback {
    right: 0px !important;
  }
}

div.player-selected {
  margin-right: 5px;
  margin-bottom: 5px;
}

.dropdown-block-element {
  display: block;
  clear: both;
  padding: 3px 20px;
  font-weight: normal;
  line-height: 1.42857;
  color: #333;
  white-space: normal;
  text-decoration: none;
}

.dropdown-info {
  float: right !important;
  font-size: $font-size-small;
  color: $gray;
}

.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  // By default, `.tt-menu` is hidden by a selector that has a higher
  // specificity.
  display: block !important;

  h4 {
    padding: 3px 20px;
  }

  .tt-suggestion {
    padding: 0px;

    & > a, & > p {
      @extend .dropdown-block-element;

      span {
        @extend .dropdown-info;
      }
    }

    &.tt-cursor {
      background-color: $dropdown-link-hover-bg;
    }
  }
}

// The following styles were set as inline styles by typeahead.
input.tt-hint {
  position: absolute;
  top: 0;
  left: 0;
  border-color: transparent;
  box-shadow: none;
  opacity: 1;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

input.tt-input {
  position: relative;
  vertical-align: top;
  background-color: transparent;
}

.twitter-typeahead {
  position: relative;
  display: inline-block;

  pre {
    position: absolute;
    visibility: hidden;
    white-space: pre;
    font-family: Lato, "DejaVu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    word-spacing: 0;
    letter-spacing: 0;
    text-indent: 0;
    text-rendering: optimizelegibility;
    text-transform: none;
  }
}
